.issue-list-item {
    position: relative;
    padding: 10px 20px 10px 20px;
    display: block;
    text-decoration: none;
    border-bottom: 1px #e1e4e8 solid !important;
}

.issue-list-item:hover {
    background-color: #f6f8fa;
}

.issue-list-item .item-title {
    font-size: 15px;
    color: #24292e;
}

.issue-list-history {
    font-size: 12px;
    color: #586069;
    margin-top: 4px;
}

.issue-list-item .labels .label {
    color: black;
    font-size: 11px;
    padding: 2px 7px 3px 7px;
    font-weight: bold;
    margin-right: 12px;
    border-radius: 2px;
    white-space: nowrap;
}

.issue-list-item .labels .label:first-child {
    margin-left: 12px;
}

.issue-list-history span {
    margin-left: 5px;
}

.issue-list-item .comments {
    font-size: 12px;
    float: right;
    color: #656077;
}

.icono-comment {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #ddd;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    width: 22px;
    height: 13px;
}

[class*=icono-][class*=Circle]:after {
    box-shadow: inset 0 0 0 32px, 0 3px, 0 5px, 0 10px;
    top: 4px;
}

[class*=icono-][class*=Circle] {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin: 0px;
    color: #68dc68;
    position: absolute;
    left: 15px;
    top: 12px;
}

@media only screen and (max-width: 768px) {
    .labels {
        clear: both;
        display: block;
        float: left;
    }
    .comments {
        display: none;
    }
    .issue-list-item .labels .label {
        float: left;
        margin-top: 8px;
    }
    .issue-list-item .labels .label:first-child {
        margin-left: 0;
    }
}